@import './vars.scss';

*, *:after, *:before {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
}

.header {
  height: 158px;
  width: 100%;
  margin: 0px;
  padding: 0px;

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__title {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 45px;
    font-family: $secondFont;
    font-size: 35px;
    font-weight: black;
    line-height: 47px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 47px 0px;
    padding: 0px;

    &-link {
      font-family: $mainFont;
      color: $base-color;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.hero {
  width: 100%;
  height: 464px;
  background: url(../img/hotel.jpg) no-repeat 50% 50%;

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    color: $white;
  }
  &__sub-title {
    display: block;
    width: 99px;
    height: 27px;
    margin-top: 62px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    background-color: $highlight-color;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
  }
  &__title {
    color: $white;
    margin-top: 45px;
    font-family: $mainFont;
    font-size: 72px;
    font-style: normal;
    line-height: 85px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 105px;
    margin-left: 105px;
    &-previous {
      font-size: 13px;
      line-height: 15px;
      &::after {
        content: url(../img/arrow.svg);
        width: 64px;
        height: 1px;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
    &-next {
      font-size: 13px;
      line-height: 15px;
      &::before {
        content: url(../img/arrow.svg);
        width: 64px;
        height: 1px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    &-arrow::after {
      content: url(../img/nav-arrow-after.svg);
      width: 34px;
      height: 42px;
      vertical-align: middle;
      margin-left: -2px;
    }
    &-arrow::before {
      content: url(../img/nav-arrow.svg);
      width: 34px;
      height: 42px;
      vertical-align: middle;
    }
  }

  &__description {
    width: 456px;
    height: 64px;
    margin: 0 auto;
    font-family: $mainFont;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
  }
}

.main {
  width: 100%;
  background-color: $white;
  height: 100%;

  &__inner {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
  }
}
.news {
  margin-top: 99px;
  display: flex;
  flex-wrap: wrap;
  
  &__title {
    width: 100%;
    font-family: $mainFont;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2px;
    color: $base-color;
    margin-bottom: 15px;
  }
  &__article {
    height: 343px;
    width: 470px;
    background: url(../img/1344287851_w640_h640_33_107.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-right: 29px;
    
    &-title {
      font-family: $secondFont;
      font-size: 20px;
      font-weight: black;
      line-height: 27px;
      margin-top: 238px;
      margin-left: 23px;
      margin-bottom: 10px;
    }
    &-description {
      font-family: $mainFont;
      margin-top: 0px;
      width: 416px;
      margin-left: 23px;
      font-size: 14px;
      line-height: 21px;
      text-align: left;
    }
  }
}

.aside-article {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  width: 500px;
  flex-wrap: nowrap;
  align-items: center;
  &__img {
    display: block;
    width: 127px;
    height: 91px;
  }
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 12px;

  &__title {
    height: 100%;
    width: 132px;
    font-family: $secondFont;
    font-size: 14px;
    text-align: left;
    margin-left: 12px;
    margin: 0px;
  }
  &__description {
    font-family: $mainFont;
    margin: 10px 0 0 0;
    width: 132px;
    height: 100%;
    text-align: left;
    font-size: 10px;
    line-height: 150%;
  }
}

.highlight {
  color: $highlight-color;
}

.aside {
  margin-top: -4px;
  margin-bottom: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events-block {
  width: 370px;
  height: 479px;
  background: url(../img/drew-colins-1114440-unsplash.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__title {
    width: 235px;
    color: $base-color;
    font-family: $secondFont;
    font-size: 30px;
    font-weight: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  &__link {
    &-arrow {
      width: 16px;
      height: 16px;
      background: url(../img/arrow-forward.svg) no-repeat;
    }
  }
}