@import './vars.scss';

.page {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  &__inner {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.header {
  max-width: 1170px;
  margin: 0 auto;
  height: 218px;
  overflow: hidden;

  &__title {
    width: 100%;
    font-family: $secondFont;
    font-size: 35px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 60px;
    text-align: center;
  }
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 47px;

  &__link {
    color: $base-color;
    font-family: $mainFont;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  }
}


.hero {
  width: 100%;
  height: 464px;
  background: url(../img/hotel.jpg) no-repeat 50% 50%;
  margin-bottom: 99px;

  &__inner {
    max-width: 1100px;
    padding-right: 35px;
    padding-left: 35px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__new {
    width: 99px;
    margin: 60px auto 0px auto;
    background-color: $highlight-color;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
  }

  &__title {
    font-family: $mainFont;
    font-size: 72px;
    font-weight: 300;
    line-height: 85px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin-top: 44px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 105px 25px 105px;

    &-link {
      font-family: $mainFont;
      font-size: 13px;
      line-height: 15px;
      text-decoration: none;
      color: $white;
    }

    &-arrow::after, &-arrow::before {
      width: 34px;
      height: 42px;
      vertical-align: middle;
    }
    &-arrow::after {
      content: url(../img/nav-arrow-after.svg);
      margin-left: -2px;
    }
    &-arrow::before {
      content: url(../img/nav-arrow.svg);
    }
  }

  &__description {
    width: 456px;
    height: 64px;
    margin: 0 auto;
    font-family: $mainFont;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $white;
  }
}

.previous::after {
  content: url(../img/arrow.svg);
  width: 64px;
  height: 1px;
  margin-left: 10px;
  vertical-align: middle;
}
.next::before {
  content: url(../img/arrow.svg);
  width: 64px;
  height: 1px;
  margin-right: 10px;
  vertical-align: middle;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__inner {
    height: 100%;
    flex: 2;
    margin-right: 30px;
  }
  &__aside {
    flex: 1;
  }
  &__title {
    width: 100%;
    font-family: $mainFont;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2px;
    color: $base-color;
    margin-bottom: 15px;
  }
}

.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__main {
    flex: 2;
    height: 334px;
    margin-right: 29px;
    background: url(../img/1344287851_w640_h640_33_107.jpg) no-repeat 50% 50%;
    background-size: cover;

    &-title {
      width: 100%;
      font-family: $secondFont;
      font-size: 20px;
      font-weight: 900;
      line-height: 27px;
      margin-left: 23px;
      margin-bottom: 10px;
      margin-top: 238px;
    }
    &-description {
      width: 416px;
      font-family: $mainFont;
      margin-left: 23px;
      padding: 0px;
      font-size: 14px;
      line-height: 21px;
      text-align: left;
    }
  }
}

.other-news {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__article {
    display: flex;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 12px;

  &__title {
    height: 100%;
    width: 132px;
    font-family: $secondFont;
    font-size: 14px;
    text-align: left;
    font-weight: 900;
    margin: 0px;
  }
  &__description {
    font-family: $mainFont;
    margin: 10px 0 0 0;
    width: 132px;
    height: 100%;
    text-align: left;
    font-size: 10px;
    line-height: 150%;
  }
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  &__title {
    width: 100%;
    margin-top: 75px;
    font-family: $mainFont;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
  }
  &__article {
    flex: 0 50%;

    &-img {
      width: 370px;
    }
    &-title {
      width: 370px;
      font-family: $secondFont;
      font-weight: 900;
      font-size: 23px;
      line-height: 31px;
      margin: 0;
      margin-top: 20px;
    }
    &-description {
      width: 370px;
      font-family: Raleway;
      font-size: 14px;
      line-height: 150%;
      margin-top: 10px;
      &:nth-of-type(1), &:nth-of-type(2) {
        margin-bottom: 37px;
      }
    }
  }
}
.banner {
  
  background: url(../img/ballet.jpg) no-repeat;
  width: 770px;
  height: 176px;
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 65px;
  }
  &__title {
    color: $white;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px;
  }
  &__link-button {
    width: 170px;
    line-height: 47px;
    text-align: center;
    border: 2px solid $highlight-color;
    background: $base-color-70;
    margin-left: 47px;
    text-decoration: none;
    color: $white;
    font-family: $mainFont;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;

    &::after {
      width: 16px;
      height: 16px;
      content: url(../img/arrow-forward.svg);
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

.event {
  width: 370px;
  height: 479px;
  margin-bottom: 33px;
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    color: $white;
    position: absolute;
    z-index: 1;
    top: 48px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $secondFont;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__link-button {
    width: 170px;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $mainFont;
    font-weight: 600;
    font-size: 12px;
    line-height: 47px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    background-color: $highlight-color;
    text-align: center;

    &::after {
      width: 16px;
      height: 16px;
      content: url(../img/arrow-forward.svg);
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

.highlight {
  color: $highlight-color;
}

.blacked {
  background-color: $base-color-70;
  border: 2px solid $highlight-color;
}

.dark {
  color: $base-color;
}

.footer {
  width: 100%;
  height: 195px;
  margin-top: 97px;

  &__title {
    color: $base-color-10;
    text-align: center;
  }
}