// Font

$mainFont   : 'Raleway', sans-serif;
$secondFont : 'Playfair Display', sans-serif;


// Colors

$highlight-color : #FF7931;
$base-color      : #000;
$base-color-70   : rgba(0,0,0,0.7);
$base-color-30   : rgba(0,0,0,0.3);
$base-color-10   : rgba(0,0,0,0.1);
$white           : #FFF;